* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
}
.custom_nav {
  transform: translateY(-40px);
}

.home {
  max-width: 50px;
}

.c_nav * {
  font-size: 26px;
  color: #e43c4e;
}

/* bakground */
.bg-overlay {
  background: url("../assets/Artboard\ –\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 65vh;
  padding-top: 50px;
  width: 100%;
  /* box-sizing: border-box; */
  /* display: inline; */
}

.bg-overlay1 {
  background: url("../assets/Artboard\ –\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 65vh;
  padding-top: 50px;
  width: 100%;
  /* box-sizing: border-box; */
  /* display: inline; */
}


@media only screen and (max-width: 600px) {
  .bg-overlay {
    height: 400px;
  }
  .bg-overlay1 {
    height: 400px;
  }
}

.text_section {
  padding: 5% 6%;
}

.text_section h2 {
  font: normal normal 900 52px/37px Montserrat;
  margin-bottom: 25px;
}

.light_bg h2 {
  color: #e43c4e;
}

.light_bg {
  font-size: 28px;
  color: #707070;
}

.color_bg {
  background-color: #e43c4e;
}

.color_bg h2 {
  color: #fff;
  font-weight: 800;
}

.color_bg p {
  color: #fff;
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  .text_section h2 {
    font-size: 36px;
  }
  .text_section p {
    font-size: 21px;
  }
}

.vertical {
  border-left: 1px solid white;
  /* height: 200px; */
}


@media only screen and (max-width: 600px) {
    .i{
        width :40%;
    }
}
  
